* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header,
#primary-section,
#secondary-section,
#footer {
  border: 1px solid black; /* Add border to these elements */
}

main {
  /* background-image: url("../img/grid.png"); /* Set grid as background */
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 215px); /* 4 columns each 215px */
  gap: 20px; /* Space between columns */
  padding: 20px; /* Outer margins */
}
.header {
  grid-column: span 4;
  padding: 20px;
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 4;
  padding: 20px;
}

/* Primary section should only span 3 out of the 4 available columns */
#primary-section {
  grid-column: span 3; /* Spans 3 columns inside #content */
  padding: 20px;
}
#secondary-section {
  grid-column: span 1; /* Takes the remaining column */
  padding: 20px;
}

#footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 4;
  padding: 20px;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 4;
  padding: 20px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: span 3;
  padding: 1px;
  list-style: none;
}

.post-list li {
  padding: 10px;
  border: 1px solid black;
  margin: 5px;
  text-decoration: none;
}

.widget {
  padding: 10px;
  margin: 5px;
}
