/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

nav {
  background-color: #1c3f60; /* Sets background color to blue */
  position: fixed; /* Fixes the nav to the top */
  top: 0; /* Ensures it stays at the top */
  width: 100%; /* Makes it span the full width */
  padding: 10px 0; /* Adds some spacing */
  text-align: center; /* Centers the text */
  margin: 0;
}

nav ul {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end; /* Centers the links horizontally */
  padding-right: 50px;
}

nav li {
  margin: 0 15px; /* Adds spacing between links */
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

nav a:hover {
  text-decoration: underline;
}

.introContent {
  height: 100%;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
}

.contentLeft {
  width: 50%;
  float: left;
  padding: 50px;
  background-color: white;
  margin-top: 0;
  display: flex; /* Enables Flexbox */
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; /* Centers items vertically */
  align-items: center; /* Centers items horizontally */
  min-height: 400px;
}

.contentLeft img {
  margin-top: 50px;
  width: 200px;
  border-radius: 50%;
  height: auto;
  margin-bottom: 20px;
}

#name {
  color: #0b1320;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.contentRight {
  width: 50%;
  float: left;
  padding: 50px;
  background-color: #afc1d0;
  margin-top: 0;
}

#aboutMeTitle {
  color: #0b1320;
  font-size: 50px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 5vw;
  margin-bottom: 0;
}
.contentRight p {
  font-size: 20px;
  color: #0b1320;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .headerContent {
    flex-direction: column; /* Stacks .contentLeft and .contentRight vertically */
  }
  .contentLeft,
  .contentRight {
    width: 100%;
  }
  nav ul {
    justify-content: center;
    padding-right: 0;
  }
}

/*-----PROJECTS------*/
.Projects-title {
  color: #0b1320;
  font-size: 50px;
  font-weight: bold;
  max-width: 1200px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Projects {
  /* background-image: url("../img/grid\ \(1\).png"); */
  /* background-image: url("../img/grid.png"); */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  padding-left: 20px;
  grid-auto-flow: row;
  margin: 0 auto;
}
.project {
  grid-column: span 4;
  background-color: #fff;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
  display: block; /* Makes the link a block element */
  width: fit-content; /* Sizes the link to fit the text */
  margin: 0 auto; /* Centers the link */

  background: #1c3f60;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

@media screen and (max-width: 600px) {
  .project {
    grid-column: span 12;
  }
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
